
*{
  background-color: rgb(255, 255, 255);
}

/* CONTAINER  */


.container{
  padding: 120px;

}


/* FORM  */

.form-container{
  display: flex;
  color: white;
  border: solid 1.5px rgba(5, 5, 5, 0.2);
  box-shadow: 0 6px 8px rgba(10, 175, 252, 0.2);
  align-items: center;
}

.image{
  flex:1;
  /* border: solid 1.5px rgba(5, 5, 5, 0.2);
  box-shadow: 0 10px 15px rgba(199, 122, 7, 0.2); */
  opacity: 0.2;
  background-image: url("../../public/building.jpeg");
  background-color: green;
}

img{
  width:100%;
  opacity: 0.1;
}


.user-info{
  flex: 2;

  justify-content: center;

}

.yo{
  display:inline-flex;
}

div {
  margin-bottom: 20px;
}
label {
  font-family: "Poppins", sans-serif;

  color: black;
  font-size: 2.5vh;

  margin-left: 20px;

  width: 700px;
  text-align: left;
}

input{
  margin-right: 50px;
}


.first-row{
  align-items: center;
  width: 150px;
  text-align: right;
}

.second-row{
  width: 150px;
  text-align: right;
}

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
h1{
  font-family: "Poppins", sans-serif;

  color: black;
  font-size: 3vh;
}

h2{
  font-family: inherit;

  color: black;
  font-size: 2vh;
}


input, select, textarea{
  font-family: "Poppins", sans-serif;
  font-size: 1.8vh;

  color: rgb(44, 44, 44);
  border: 1px solid #ccc; /* Gray border */
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 75%; /* Full width */
    border: 1px solid #ccc; /* Gray border */
    align-items: center;
    margin-left: 300px;
    
}

/* BUTTONS  */

.buttons button {
  font-family: "Poppins", sans-serif;
  color : rgb(44, 47, 66);
  padding : 5px;
  margin-right: 10px;
  background-color: white;
  font-size: 25px;
  border: solid 1.5px rgba(5, 5, 5, 0.2);

}

.buttons{
  margin-top: 80px;
  text-align: center;
}