
*{
  background-color: rgb(99, 110, 179);
}

.user-info{
  display: flex;
  justify-content:space-evenly
}
.contact-div{
  background-color:rgb(99, 110, 179);
  color: white;
  
}

input, select, textarea{
  color: white;
  font-size : 30px;
  width: 200px;
  height: 30px;
  margin-top: 30px;
  border: 1px solid #ccc; /* Gray border */

}

.user-text h1 {
  margin-left: 300px;
  margin-top: 100px;
}


.buttons button {
  color : rgb(99, 110, 179);
  padding : 10px;
  margin-right: 10px;
  background-color: white;
  font-size: 25px;
  margin-left: 570px;

}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 75%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    align-items: center;
    margin-left: 300px;
}

