
*{
  background-color: rgb(255, 255, 255);
}

/* CONTAINER  */

.container{
}

/* FORM  */

.form{
  display: flex;
  color: white;
  border-radius: 12px;
  border: solid 1.5px rgba(5, 5, 5, 0.2);
  align-items: center;
}

.image{
  flex:1;
  border: solid 1.5px rgba(5, 5, 5, 0.2);
  box-shadow: 0 10px 15px rgba(199, 122, 7, 0.2);
  opacity: 0.2;
  background-image: url("../../public/building.jpeg");
  background-color: green;

}

img{
  width:100%;
  opacity: 0.1;
}


.user-info{
  flex: 4;
  display : grid;
  width: 10px;

  border: solid 1.5px rgba(5, 5, 5, 0.2);
  box-shadow: 0 10px 15px rgba(25, 201, 201, 0.2);
}

h1{
  color: black;
  font-size: 5vh;
}

h2{
  color: black;
  font-size: 2.5vh;
}

input, select, textarea{
  color: white;
  font-size : 30px;
  width: 200px;
  height: 30px;
  margin-top: 30px;
  border: 1px solid #ccc; /* Gray border */
}

.user-text h1 {
  margin-left: 300px;
  margin-top: 100px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 75%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    margin-left: 300px;

    text-align:center;

}

/* BUTTONS  */

.button {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.buttons button {
  color : rgb(99, 110, 179);
  padding : 10px;
  margin-right: 10px;
  background-color: white;
  font-size: 25px;

}


