@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* CONTAINER  */

.container{
  padding: 120px;
  width: 800px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* FORM  */

.form-container{
  display: flex;
  color: white;
  border: solid 1.5px rgba(5, 5, 5, 0.2);
  box-shadow: 0 6px 8px rgba(10, 175, 252, 0.2);
  align-items: center;
  padding: 30px;
}

.user-info{
  flex: 2;
  justify-content: center;
  margin-top: 20px;
}

.yo{
  display:inline-flex;
}

div {
  margin-bottom: 20px;
}
label {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 2.5vh;
  margin-left: 20px;
  width: 700px;
}

input[type=text], select, textarea {
  font-family: "Poppins", sans-serif;
  font-size: 1.8vh;

  color: rgb(44, 44, 44);
  border: 1px solid rgb(204, 204, 204);
  border: 1px solid rgb(204, 204, 204); 

  width: 65%; 
  margin-left: 5px;

  align-items: center;
  text-align: center;
}

input::placeholder {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: black; 
  opacity: 0.3; 
}

/* BUTTONS  */

.buttons button {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color : rgb(44, 47, 66);
  background-color: white;

  border: solid 1.5px rgba(5, 5, 5, 0.2);
  margin-right: 10px;

  padding : 5px;
}

.buttons{
  margin-top: 80px;
  text-align: center;
}